body {
    background-color: #a2afc4;
    font-family: 'Great Vibes', cursive;
}
h1{
    text-align: center;
}
#button{
    text-align: center;
}
#form1{
    text-align: center;
}
#poster{
  text-align: center;
}