body {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 500%;
}

#button {
    background-color: white;
    color: black;
}
#input{
    color: black;
}

#form1 {
    text-align: center;
}

#poster {
    text-align: center;
}

#title {
    color: white;
    font-family: 'Yatra One', cursive;
}

img{
    height: 150%;
    width: 160%;
    margin-left: 100px;
    
}